body{
  margin: 0;
  font-family: sans-serif;
}
.navbar {
  overflow: hidden;
  background: linear-gradient(to bottom,
      #d4f7f7 0%,
      #94d1d1 55%,
      #70c2c2 55%,
      #45a1a1 100%
  );

}
.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 20px 18px;
  font-size: 18px;
}
.navbar a:hover {
  background: linear-gradient(to bottom,
      #d4f7f7 0%,
      #82c9c9 55%,
      #5ebaba 55%,
      #3d8f8f 100%
  );
}
.pineapple {
  text-align: justify;
  padding: 20px 30px;
  font-size: large;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(#dbf0f0,#ffffff);
  border-radius: 15px;
}
.pineapple p {
  text-align: justify;
}
.pineapple a {
  text-decoration: none;
  color: #004d99;
}
.pineapple a:hover {
  text-decoration: underline;
}
.pizza {
  width: 50%;
  text-align: left;
  padding: 20px 30px;
  font-size: large;
  align-items: center;
  margin: auto;
}
h1 {
  text-align: left;
}
p {
  text-align: center;
}
li {
  list-style: inside
}
